:root{
  --black: #444;
  --white: #f5f5f5;
  --title-color: #583493;
  --purple: #B886DF;
  --green: #748A66;
  --pure-white: #fff;
  --shadow:       #ccc;
}

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  flex-wrap: wrap;
  color: var(--black);
  scroll-behavior: smooth;
}

.menu-icon{
  display: none;
}

body{
  background: var(--white);
  padding-top: 7vw;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;
  position: fixed;
  align-items: center;
  width: 100%;
  background: var(--white);
  top: 0px;
  z-index: 9;
}

header .title img{
  width: 3vw;
}


header .title h1{
  font-size: 1.2vw;
  font-weight: 500;
  color: var(--title-color);
}

header nav a{
  color: var(--black);
  margin: 0 1vw;
  font-size: 1.2vw;
  font-weight: 500;
}

section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 5vw 1vw;
}

section .text {
  max-width: 50%;
  font-weight: 500;
  font-size: 1.4vw;
}

section .text h2{
  margin-bottom: 2vw;
  font-size: 2.3vw;
}

section h2{
  color: var(--purple);
}

section img{
  width: 23%;
}

#idea_verde h2{
  color: var(--green);
}

section .follow{
  display: flex;
  width: 25%;
}
section .follow h2 {
  width: 100%;
  margin-bottom: 2vw;
  font-size: 2.3vw;

}
section .profile {
  width: 10vw;
  height: 9vw;

}
section .profile a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .profile img{
  width: 5vw;
  border-radius: 50%;
}

section .profile span{
  font-size: 1.2vw;
}

form{
  padding: 2vw;
  background: var(--pure-white);
  border-radius: .5vw;
  width: 25%;
  box-shadow: .2vw .7vw 1vw var(--shadow);
}

form h2{
  margin-bottom: 3vw;
  font-size: 2vw;
}
input, label { 
  display: block;
  z-index: 1;
}

label{
  position: absolute;
  transform: translateY(1vw);
  transition: .3s;
  font-size: 1.7vw;
}


label.labelup {
  margin-bottom: auto;
  transform: translateY(-1.5vw);
}

.input{
  height: 5vw;
  position: relative;
  margin: 1vw 0;
}

label:focus-visible{
  margin-bottom: 1px;
}

.input input{
  padding: 1vw;
  border-bottom: .22vw ridge var(--purple);
  width: 90%;
  margin: 0 0 1vw 0;
  font-size: 1.7vw;

}

input[type="submit"]{
  margin: auto;
  width: 95%;
  padding: .6vw 3vw;
  border-radius: 2vw;
  background: var(--purple);
  color: var(--white);
  font-size: 1.7vw;
  font-weight: 500;
}

.idea {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.idea a {
  text-decoration: none;
  font-size: 1.7vw;
}
.idea img {
  width: 25vw;
}

.idea .email {
  text-decoration: underline;
}


.menu-icon{
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 12px;
}

.icon, .icon::after, .icon::before{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: var(--black);
  border-radius: 2px;
  transition: .4s;
}

.icon::after{
  top: calc(40px/3 + 3px);
}

.icon::before{
  top: calc(40px - 9px);
}

.icon.open::before{
  top: 0;
}
.icon.open{
  top: calc(40px/3 + 3px);
  transform: rotate(-45deg);
}

.icon.icon.open::after{
  top: 0;
  transform: rotate(90deg);
}


@media (orientation: portrait){

  header .title img{
    width: 30px;
  }
  header .title h1{
    font-size: 17px;
  }
  header nav {
    transition: .4s;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;
    background: var(--pure-white);
    top: 60px;
    left: -70%;
    z-index: 9;
  }

  header nav.open{
    left: 0;
  }

  header .menu-icon{
    display: block;
  }
  header nav a{
    font-size: 17px;
    padding: 20px 7px;
  }
  section{
    flex-direction: column;
    margin: 90px 0;
  }
  section img{
    width: 60%;
  }
  section .text h2{
    font-size: 20px;
  }
  section .text{
    font-size: 17px;
    max-width: 100%;
    width: 90%;
  }

  section .follow{
    display: none;
  }

  section .idea {
    margin: 40px;
  }
  section .idea img{
    width: 90%;
  }
  section .idea a {
    font-size: 17px;
  }
  section .follow.a {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  section .follow.a .profile{
    width: 120px;
    height: 120px;
  }
  section .follow.a a img{
    width: 40px;
    height: 40px;
  }
  .follow.a h2{
    font-size: 20px;
  }
  section .follow.a a span {
    font-size: 17px;
  }
  #new_user {
    width: 90%;
  }
  #new_user h2{
    font-size: 19px;
    margin: 12px 0 20px 12px;
  }

  #new_user .input{
    height: 60px;
    margin: 12px 0 20px 12px ;
  }

  #new_user label{
    font-size: 17px;
  }
  #new_user input {
    padding: 7px;
    font-size: 17px;
  }

  #new_user label.labelup{
    transform: translateY(-19px);
  }
}