doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        title iREK
    body
        header
            .head
                .title 
                    
                    img( src="/img/logo.svg" alt="logo irek")
                    h1 iREK 
                nav#nav
                    a(href="/#inicio")
                        span Inicio

                    a(href="/#somos")
                        span Somos

                    a(href="/#objetivos")
                        span Objetivos

                    a(href="/#new_user")
                        span Registrate
                        
            .description
                h2 ¿Qué es un estilo?
                p 
            
                    | Un estilo es aquello que te hace único como persona, haciendote
                    | singular y diferente a los demas. Es tu imagen personal, estetica
                    | que te otorga comodidad y seguridad.
                    br
                    | Actualmente, tras la pandemia surgieron estilos inovadores y unicos,
                    | los cuales atrajeron (principalmente a adolecentes) y se 
                    | establecieron en la sociedad. Sin embargo, aún conservamos estilos 
                    | del pasado, los cuales es seguro nunca pasaran de moda.
                    | Tu estilo, además de ser tu vestimenta, es el que te define, 
                    | mostrando al mundo tus gustos y emociones.
                    | Todo estilo es bienvenido a nuestro rincon de internter.