doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/nov.css")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        title iREK
    body
        header
            .title
                img(src="/img/logo.svg", alt="iREK logo svg")
                h1 iREK
            
        section#inicio 
            .space
            img(src="https://www.iebschool.com/blog/wp-content/uploads/2015/03/hacer-venta.gif" alt="funny img") 
            br
            .text 
                h2 Novedades que llegaron de la mano con el 2023.
                p 
                    |En iREK buscamos que cada usuario conecte, conozca y/ó
                    |descubra su estilo al momento de vestir.
                    br
                    br
                    |Buscamor crear un pensamineto congruente para evitar 
                    |juzgar, señalar y discriminar a un individuo por su 
                    |forma de vestir. 
                    br
                    br
                    |Cada persona tiene derecho a ser quien desee
                    |y eso no le resta valor. Solo TÚ decides quien ser.

                    br
                    br
                    br
        section#pie
            br
            br 
            .text 
                h3 Las mejores novedades acorde a la epoca del año.
                   
