doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        title iREK
    body
        header
            .title
                img(src="/img/logo.svg", alt="iREK logo svg")
                h1 iREK

            nav#nav
                a(href="#inicio")
                    span Inicio

                a(href="#idea_verde")
                    span Idea verde

                a(href="#somos")
                    span Quienes somos

                a(href="#objetivos")
                    span Objetivos 

                a(href="#login")
                    span Login


            .menu-icon 
                .icon#icon 

        section#inicio 
            .space
            img(src="./img/unidos.svg", alt="Personas unidas SVG")
            br
            .text 
                h2 Unidos podemos hacer cosas increibles.
                p 
                    |En iREK buscamos que cada usuario conecte, conozca y/ó
                    |descubra su estilo al momento de vestir.
                    br
                    br
                    |Buscamor crear un pensamineto congruente para evitar 
                    |juzgar, señalar y discriminar a un individuo por su 
                    |forma de vestir. 
                    br
                    br
                    |Cada persona tiene derecho a ser quien desee
                    |y eso no le resta valor. Solo TÚ decides quien ser.

        section#idea_verde 
            .space
            img(src="./img/idea-verde.svg", alt="Arbol y idea de color verde SVG")
            .text 
                h2 Tengamos juntos una idea verde para cambiar al planeta.
                p 
                    |Durante siglos nuestro planeta nos ha ayudado con 
                    |inumerables cosas y nos a permitido vivir en el. Hoy 
                    |es momento de ayudarlo nosotros y no hay cosa mejor que 
                    |que vestir a la moda mientras lo hacemos.
                    br
                    br
                    |Tengamos una idea color verde, usemos prendas ecologicas,
                    |negemonos a los experimentos con animales para el 
                    |maquillaje y todos unidos salvemos el planeta.

        section#somos 
            .space
            img(src="./img/somos.svg", alt="Personas sentadas SVG")
            .text 
                h2 Quienes somos?
                p 
                    |iREK es un sitio web, creado con la finalidad de 
                    |enseñar y acabar con la discriminación por vestimenta.
                    br
                    br
                    |Cada persona, sin importar su forma de vestir, pensar y 
                    |elegir tiene el mismo valor y derechos que el resto.

        section#objetivos 
            .space
            img(src="/img/objetivos.svg", alt="Chica frente a la pc SVG")
            .text 
                h2 Nuestros objetivos 
                p 
                    |Queremos que todas las personas independientemente de quienes 
                    |sean, puedan encontrar personas con sus mismos gustos y 
                    |conocer más y aceptar los gustos de de los demás. 

        section
            .space
            .follow
                h2 Siguenos
                .profile
                    a( href="https://instagram.com/____irek?igshid=NDk5N2NlZjQ=")
                        img( src="./img/instagram.svg", alt="Instagram logo svg")
                        span @iREK

                .profile
                    a( href="https://twitter.com/___iREK?t=BYjM1TUOBJy1gOOfZqa8tg&s=09")
                        img( src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Logo_Twitter.png", alt="twitter logo svg pixabay")
                        span iREK

                .profile
                    a(href="https://www.youtube.com/@irek7167")
                        img( src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Youtube_Music_icon.svg/1200px-Youtube_Music_icon.svg.png", alt="Youtube logo svg")
                        span iREK.com
                   
                .profile
                    a( href="https://www.tiktok.com/@irek.com?_t=8YlPn7NYL1q&_r=1")
                        img( src="http://store-images.s-microsoft.com/image/apps.47495.13634052595610511.c45457c9-b4af-46b0-8e61-8d7c0aec3f56.a8b71481-8a43-465d-88d6-e63add92c112", alt="tiktok logo svg")
                        span iREK


            form#login( autocomplete="off" )
                h2#form-title Iniciar sesión 

                .input#Name(style="display: none")
                    label(for="name")
                        span Nombre 

                    input(tpye="text", name="name")#name
                    p#name_err.message-err
                

                .input#Email
                    label(for="email")
                        span Email

                    input(tpye="email", name="email")#email
                    p#email_err.message-err
                

                .input#Pass
                    label(for="password")
                        span Contraseña

                    input(tpye="password", name="password")#password
                    p#password_err.message-err                

                .input#Age(style="display: none")
                    label(for="edad")
                        span Edad

                    input(type="number", name="edad")#edad
                    p#edad_err.message-err
                
                input( type="submit", value="Entrar")#submit
                input#action(type="hidden", name="action", value="/login")
                .notaccount
                        span#switch_form No tengo cuenta

                .notaccount.a
                    a(href="/invitado") 
                        span Entrar como invitado
               
            .idea
                img( src="./img/idea.svg" alt="idea irek")
                a( href)
                    span
                        |Puedes enviarla al numero
                        br
                        span( class="email") +52 4291256924
            .space

    #alert_message
        span Usuario registrado.
    script(src="/js/main.js") 

